<!-- Databases Fall2020 -->
<!-- Zheng Wang Nov.26 2020 -->
<!DOCTYPE html>
<html>
  <!--Basic Background settings-->
  <meta charset="UTF-8">
  <meta name="description" content="general">
  <meta name="author" content="Databases Fall2020">
  <meta name="keywords" content="databases,html,python,flask,mysql">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> View Top Customers </title>
  <body>
    <h2>  Top 5 customers based on number of tickets bought from you in the past 6 months: </h2>
    <table border="1">
      <tr> <!--The title line of customers-->
        <th>Email</th>
        <th>Ticket Sold</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>City</th>
        <th>State</th>
        <th>Date of Birth</th>
      </tr>
      {% if customer_ticket %}
        {% for line in customer_ticket %}
        <tr>
          <td>{{line[0]}}</td>
          <td>{{line[1]}}</td>
          <td>{{line[2]}}</td>
          <td>{{line[3]}}</td>
          <td>{{line[4]}}</td>
          <td>{{line[5]}}</td>
          <td>{{line[6]}}</td>
        </tr>
        {% endfor %}
      {% endif %}
    </table>

    <h2> Top 5 customers based on amount of commission you received in the past 6 months: </h2>
    <table border="1">
      <tr> <!--The title line of customers-->
        <th>Email</th>
        <th>Commission Earned</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>City</th>
        <th>State</th>
        <th>Date of Birth</th>
      </tr>
      {% if customer_commission %}
        {% for line in customer_commission %}
        <tr>
          <td>{{line[0]}}</td>
          <td>${{line[1]}}</td>
          <td>{{line[2]}}</td>
          <td>{{line[3]}}</td>
          <td>{{line[4]}}</td>
          <td>{{line[5]}}</td>
          <td>{{line[6]}}</td>
        </tr>
        {% endfor %}
      {% endif %}
    </table>

    <section>
      <img src="data:image/png;base64, {{ plot_url }}" width="600">
    </section>
    
    <br/><br/>
    <a href="/home">Go back</a>
  </body>
</html>
