<!DOCTYPE html>
<html>

<head>
  <title>Air Ticket Reservation System</title>
</head>

<body>
{% with message = get_flashed_messages() %}
  {% if not message %}
	  <h2>Welcome to the Online Air Ticket Reservation System!</h2>
		<a href="/login">Login</a></br></br>
		<a href="/register">Register</a></br></br>
		<a href="/flight_search">View Public Flight Status</a>
  {% endif %}

  {% if message %}
    <h2>You have successfully created your acount!</h2>
    <a href="/login">Login</a></br></br>
    <a href="/register">Register</a></br></br>
    <a href="/flight_search">View Public Flight Status</a>
  {% endif %}

{% endwith %}
</body>

</html>
