<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<body>
  <form action="/loginAuth" method="POST">
  <h3>Please select your identity to login:</h3>
  <select name="identity" placeholder="your identity" required>
    <option value="customer">Customer</option>
    <option value="booking_agent">Booking Agent</option>
    <option value="airline_staff">Airline Staff</option>
  </select></br>
  <h3>Please enter your username and password:</h3>
  	<input type="text" name = "username" placeholder="username" required/></br>
  	<input type="password" name = "password" placeholder="password" required/></br>
    <input type="submit" value = Login />

  {% if error %}
    <p class="error"><strong>Error:</strong> {{error}}</p>
  {% endif %}</br></br></br>
  </form>

  <a href="/">Go back</a>

</body>
</html>
