<!-- Databases Fall2020 -->
<!-- Zheng Wang Nov.30 2020 -->
<!DOCTYPE html>
<html>
  <!--Basic Background settings-->
  <meta charset="UTF-8">
  <meta name="description" content="general">
  <meta name="author" content="Databases Fall2020">
  <meta name="keywords" content="databases,html,python,flask,mysql">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> View Top Agents </title>
  <body>
    <h2>  Top 5 agents based on number of tickets sold in the past month: </h2>
    <table border="1">
      <tr> <!--The title line of booking agent-->
        <th>Email</th>
        <th>Booking Agent ID</th>
        <th>Tickets Sold</th>
      </tr>
      {% if agent_ticket_month %}
        {% for line in agent_ticket_month %}
        <tr>
          <td>{{line[0]}}</td>
          <td>{{line[1]}}</td>
          <td>{{line[2]}}</td>
        </tr>
        {% endfor %}
      {% endif %}
    </table>

    <h2>  Top 5 agents based on number of tickets sold in the past year: </h2>
    <table border="1">
      <tr> <!--The title line of booking agent-->
        <th>Email</th>
        <th>Booking Agent ID</th>
        <th>Tickets Sold</th>
      </tr>
      {% if agent_ticket_year %}
        {% for line in agent_ticket_year %}
        <tr>
          <td>{{line[0]}}</td>
          <td>{{line[1]}}</td>
          <td>{{line[2]}}</td>
        </tr>
        {% endfor %}
      {% endif %}
    </table>

    <h2>  Top 5 agents based on amount of commission received last year: </h2>
    <table border="1">
      <tr> <!--The title line of booking agent-->
        <th>Email</th>
        <th>Booking Agent ID</th>
        <th>Commission</th>
      </tr>
      {% if agent_commission %}
        {% for line in agent_commission %}
        <tr>
          <td>{{line[0]}}</td>
          <td>{{line[1]}}</td>
          <td>{{line[2]}}</td>
        </tr>
        {% endfor %}
      {% endif %}
    </table>

    <br/><br/>
    <a href="/home">Go back</a>
  </body>
</html>
