<!-- Databases Fall2020 -->
<!-- Yukun Jiang Nov.23 2020 -->
<!DOCTYPE html>
<html>
  <!--Basic Background settings-->
  <meta charset="UTF-8">
  <meta name="description" content="general">
  <meta name="author" content="Databases Fall2020">
  <meta name="keywords" content="databases,html,python,flask,mysql">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Ticket Sales Report </title>
  <body>

      <h1>Ticket Sales Report for <font color="blue">{{airline}}</font> Airline</h1>
      In the last <b>MONTH</b> (<font color="green">{{last_month_date}}</font> to <font color="green">{{today_date}}</font>):</br>
      <font color="red">{{last_month_ticket}}</font> tickets are sold.</br></br>

      In the last <b>YEAR</b> (<font color="green">{{last_year_date}}</font> to <font color="green">{{today_date}}</font>):</br>
      <font color="red">{{last_year_ticket}}</font> tickets are sold.</br>

      <section>
        <img src="data:image/png;base64, {{ plot_url }}" width="600">
      </section>

    <h2> Customize Ticket Sales Report: </h2>
    <form action='/home/staff_customize_view_report' method='POST'>
      <table border="1">
      <tr>
        <th>Starting Month</th>
        <th>Ending Month</th>
      </tr>
      <tr>
      <th><input type="month" name="start_month"/></th>
      <th><input type="month" name="end_month"/></th>
      </tr>
    </table>
    <input type="submit" value="Track">
    </form>

    <a href="/home">Go back</a>
  </body>
</html>
