<!-- Databases Fall2020 -->
<!-- Yukun Jiang Nov.23 2020 -->
<!DOCTYPE html>
<html>
  <!--Basic Background settings-->
  <meta charset="UTF-8">
  <meta name="description" content="general">
  <meta name="author" content="Databases Fall2020">
  <meta name="keywords" content="databases,html,python,flask,mysql">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Customize Ticket Sales report </title>
  <body>
  <h1><b>Customized</b> Ticket Sales Report for <font color="blue">{{airline}}</font> Airline</h1>
  <h3>Monthly Ticket Sales from <font color="red">{{start_year}}-{{start_month}}</font> to <font color="red">{{end_year}}-{{end_month}}</font>  is <font color="red"><b>{{total}}</font></b></h3>
  <section>
    <img src="data:image/png;base64, {{ plot_url }}" width="600">
  </section>
  </body>
  <a href="/home/staff_view_report">Go back</a>
</html>
