<!-- Databases Fall2020 -->
<!-- Zheng Wang Nov.23 2020 -->
<!DOCTYPE html>
<html>
  <!--Basic Background settings-->
  <meta charset="UTF-8">
  <meta name="description" content="general">
  <meta name="author" content="Databases Fall2020">
  <meta name="keywords" content="databases,html,python,flask,mysql">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> View Frequent Customers </title>
  <body>
    <h2> Below are the top 3 most popular destinations of your airline for last 3 months: </h2>
    <table border="1">
      <tr> <!--The title line of destinations-->
        <th>Airport</th>
        <th>City</th>
      </tr>
      {% for line in destination_month %}
      <tr>
        <td>{{line[0]}}</td>
        <td>{{line[1]}}</td>
      </tr>
      {% endfor %}
    </table>

    <h2> Below are the top 3 most popular destinations of your airline for last year: </h2>
    <table border="1">
      <tr> <!--The title line of destinations-->
        <th>Airport</th>
        <th>City</th>
      </tr>
      {% for line in destination_year %}
      <tr>
        <td>{{line[0]}}</td>
        <td>{{line[1]}}</td>
      </tr>
      {% endfor %}
    </table>

    <br/><br/>
    <a href="/home">Go back</a>
  </body>
</html>
